.productCardBox {

  .imgItem {
    object-fit: cover;
    width: 302px;
    height: 280px;
  }

  .descBox {
    padding: 10px;

    .productName {
      font-size: 16px;
      color: var(--gray-800-paragraph, #373F50);
      font-weight: 700;
      line-height: 24px; /* 150% */
      letter-spacing: 0.8px;
    }

    .brandName {
      color: var(--gray-600-text-muted, #7D879C);
      font-weight: 700;
      line-height: 20px; /* 142.857% */
      letter-spacing: 0.7px;
      margin-top: 30px;
    }

    .priceBox {
      margin-top: 12px;

      .realPrice {
        color: var(--gray-800-paragraph, #373F50);
        font-size: 16px;
        font-weight: 700;
        line-height: 24px; /* 150% */
        letter-spacing: 0.8px;
        margin-right: 5px;
      }

      .rawPrice {
        color: var(--gray-600-text-muted, #7D879C);
        font-size: 12px;
        font-weight: 400;
        line-height: 16px; /* 133.333% */
        letter-spacing: 0.6px;
        text-decoration: line-through;
      }
    }
  }
}

//手机端
@media only screen and (max-width: 600px) {
  .productCardBox {
    //width: 164px;
    //max-width: 25%;

    .imgItem {
      //width: 164px;
      width: 100%;
      height: auto;
    }

    .descBox {
      .productName {
        margin-bottom: 30px;
        font-size: 14px;
      }

      .brandName {
        margin-top: 0px;
        font-size: 12px;
      }
    }

    .priceBox {
      .realPrice {
        font-size: 14px;
      }
    }
  }
}
