.container {
  display: flex;
  flex-direction: column;
  background: #F8F8F8;
  overflow-y: scroll;
  height: 100vh;

  .topFade {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 89px;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
  }

  .bottomFade {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 224px;
    background-image: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));


    .addFormBox {
      position: absolute;
      bottom: 49px;
      left: calc(50% - 227.5px);
      //right: 0;
      background: white;
      width: 455px;
      height: 331px;
      display: flex;
      flex-direction: column;
      padding: 41px;

      .inputText {
        margin-bottom: 14px;
      }

      .levelBox {
        display: flex;
        gap: 18px;

        .levelItem {
          width: 35px;
          height: 35px;
        }
      }
    }
  }

  .addButton {
    position: absolute;
    bottom: 49px;
    left: 50%;
    right: 0;
  }

  .smallClose {
    position: absolute;
    bottom: 49px;
    left: 48%;
    right: 0;
  }

  .smallRight {
    position: absolute;
    bottom: 49px;
    left: 52%;
    right: 0;
  }

  .topTitle {
    color: var(--tailwind-slate-200, #E2E8F0);
    /* text-7xl/black */
    font-family: Inter;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin: 35px auto;
  }

  .middleBox {
    display: flex;
    flex-direction: row;
    position: relative;

    .leftDeleteIcon {
      padding: 0 10px;
      margin: auto;
      justify-items: center;
      align-items: center;
      //width: 100%;
      position: fixed;
      top: 40vh;
    }

    .rightIcon {
      margin: auto;
      padding: 0 10px;
      max-width: 129px;
      position: fixed;
      top: 40vh;
      right: calc(13%);
    }

    .todoListBox {
      display: flex;
      flex-direction: column;
      max-width: 445px;
      margin: auto;
      gap: 34px;
      padding-bottom: 150px;

      .todoItem {
        display: flex;
        flex-direction: column;
        padding: 26px 34px;

        .title {
          color: var(--tailwind-gray-700, #374151);

          /* text-2xl/extra bold */
          font-family: Inter;
          font-size: 24px;
          font-style: normal;
          font-weight: 800;
          line-height: normal;
        }

        .content {
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2; /* 限制文本的行数为两行 */
          overflow: hidden;
          text-overflow: ellipsis; /* 当文本溢出时显示省略号 */
          white-space: normal; /* 允许文本换行 */

          /* 其他样式保持不变 */
          color: var(--tailwind-gray-500, #6B7280);
          font-family: Inter;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          margin: 12px 0;
        }


        .tagsBox {
          display: flex;
          gap: 12px;
        }
      }
    }

  }
}

@media only screen and (max-width: 600px) {
  .container {
    padding: 0 10px;
  }
}


